#donut-chart {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;

  
  > .ch-wrapper {
    position: relative;
    overflow: hidden;
  
    svg {
      .ch-inner {

        // Button and line
        .ch-arc {
          &.hightlighted {
            opacity: 0.9;
          }
        }
      }

      .ch-label-elements-wrapper {
        // Button and line
        .ch-label-element {
          &.hightlighted {
            opacity: 0.9;
          }
        }
      }
    }

    // Legend / unit (html)
    .ch-legend-wrapper {
      width: 20%;
      padding: 3% 0;
      float: right;

      span {
        color: #AAAAAA;
        font-size: 1.2em;
      }
    }
      
    // Labels texts wrapper (html)
    .ch-labels-wrapper {
      padding: 3% 5%;
      width: 70%;
      float: left;

      .ch-label {
        position: relative;
        // Labels around the chart

        a {
          display: block;
          position: absolute;
          top: 0;
          height: 100%;
        }

        // Labels on bottom of the chart.
        &.free-position {
          float: left;
          margin-right: 20px;
          margin-bottom: 20px;
        }
        
        .ch-label-title, .ch-label-subtitle {
          display: inline;

          &:before {
            content: "\A";
            white-space: pre;             
          }
        }

        .ch-label-title {
          font-size: 1.2em;
          text-transform: uppercase;
          font-weight: bold;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        .ch-label-subtitle {
          color: #AAAAAA;
          font-size: 1.2em;
        }

        &.hightlighted {
          opacity: 0.9;
          > .ch-label-title, .ch-label-subtitle {
          }

          > .ch-label-title {
          }

          > .ch-label-subtitle {
          }
        }
      }
    }
  }
}