.radar-chart {
  padding: 80px;
  font-family: Helvetica, Arial, sans-serif;

  .labels-wrapper {
    .legenda {
      position: absolute;
      font-size: 12px;
      text-transform: uppercase;
      transform: translate(-50%, -50%);
      width: 75px;
      text-align: center;
    }

    .circle,
    .legenda-dot {
      position: absolute;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0.5,0.5);
      transition-duration: 0.4s;
      opacity: 0.8;
      backface-visibility: hidden;
      width: 24px;
      height: 24px;
      text-transform: uppercase;
      border: 2px solid #FFF;

      .value {
        line-height: 24px;
        text-align: center;
        font-weight: bold;
        color: #FFF;
        font-size: 12px;
      }

      &.active {
        transform: translate(-50%, -50%) scale(1,1);
        .value {
          opacity: 1 !important;
        }
      }
    }
  }

  .svg {
    overflow: visible;

    .line {
      stroke: #ccc;
      stroke-width: 0.5px;
      fill: rgba(0, 0, 0, 0);
    }

    .polygon {
      stroke-width: 2px;
      fill-opacity: 0;
      opacity: 0.75;
    }

  }

}